<div class="ui three column grid">
<div class="row">

</div>
<div class="column">
</div>
<div class="column">
<div class="ui centered card">
  <a class="image" href="#">
    <img src="/img/docker.png">
  </a>
  <div class="content">
    <a class="header"><i class="cube icon"></i>{{ cid }}</a>
    <div class="meta">
      <i class="laptop icon"></i>
      <a>{{ hostname }}</a>
    </div>
  </div>
  <div class="ui bottom attached blue button">
    <i class="exchange icon"></i>
    Connect 
  </div>
</div>
</div>
<div class="column">
</div>
</div>
